@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr&family=Mountains+of+Christmas:wght@400;700&family=Noto+Sans+Thai:wght@100..900&family=Prompt:wght@300&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme{
  --font-main: "Noto Sans Thai", sans-serif;
}


.bg-main{
  background-color: #f0f4ff;
}

.text-gradient {
  background: linear-gradient(135deg, #6142e5, #b12add);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gradient{
  background-image: linear-gradient(135deg, rgba(97, 66, 229, 1) 0%, rgba(177, 42, 221, 1) 100%);
}

button.gradient:hover{
  background-image: linear-gradient(135deg, rgba(73, 49, 180, 1) 0%, rgba(141, 39, 176, 1) 100%);
}

.bg-team{
  background-image: linear-gradient(135deg, rgba(247, 25, 136, 1) 0%, rgba(208, 22, 115, 1) 100%);
}



